
<h1>Home Component</h1>

<div class="info">
    <p>Test data is stored in the "data service". </p>
    <p>The home component is host to two sub components (List and Detail). 
    <p>The list component subscribes to the data via the data service and fills out the list of cars. </p>
    <p>Selecting a car sets the currentcar in the data services</p>
    <p>The details component subscibes to the current car from the data service and is updated with the currently selected cars data each time the user selects a new car in the list.</p>
</div>